body {
background-color: #292D33;
padding: 25px;
}

p {
	color: white;
	text-align: center;
	font-size: 60px;
}

.p1 {
	color: white;
	text-align: center;
	font-size: 20px;
}

/*car css*/
.itemshold {
	display: flex;

	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

div.gallery {
	margin: 25px;
	border: 1px solid #ccc;
	float: left;
	position: relative;
	width: 350px;
	height: 200px;
	border: none;


}



div.gallery img {
	width: 100%;

}

div.desc {
	padding: 15px;
	/*text-align: center;*/
}

#bmw7 {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: dimgray;


}

.grayy {
	background-color: dimgray;
}


.gray {
	background-color: dimgrey;
}

.red {
	background-color: red;

}

#bmw3 {
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background-color: red;


}

#bmw5 {
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background-color: dimgray;

}

/* #center {
	padding-left: 85px;
} */

.desc {
	background-color: white;
	font-size: 20px;
	text-align: left;
}


span {
	font-size: 20px;
}

button {
	background-color: red;
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	border: none;
	margin-left: 85px;

}

nav {
	display: flex;
	/* float: right; */
	justify-content: space-between;
}

nav a {
	color: skyblue;
	text-decoration: none;
	padding: 25px 30px;
	font-size: 20px;
	font-weight: bold;
}

nav .active {
	color: red;
}

nav a button#game.html {
	font-size: 20px;
	padding: 10px 35px;
	margin-left: 12px;
	margin-top: -10px;
	border-radius: 5px;
	background-color: darkred;
	color: green;
}

footer nav a {
	color: skyblue;
	margin-right: 35px;
	font-size: 23px;
}


.container {
	position: relative;
	/* width: 50%; */
}

.bmw7 {
	display: block;
	width: 100%;
	height: auto;
}

.bmw3 {
	display: block;
	width: auto;
	height: 100%;
}

.bmw5 {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 400px;
	left: 0;
	right: 0;
	background-color: #ff0000;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.container:hover .overlay {
	height: 100%;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container1 {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	display: flex;
	background-color: #2b2a2b;
	padding: 70px 70px;
	margin-right: 10px;

}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}
.social-links{
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}




/*///////////////////////////////////////*/
.copyright {
	color: powderblue;
	font-size: 13px;
}

.workers {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}

@media(max-width: 426px){
	.workers{
		display: flex;
		flex-direction: column;
	}
	.workers_story{
		margin-bottom: 10px;
	}
}



.about_desc {
	text-align: center;
	font-size: 30px;
	color: #97D2EC;
}

.name_worker {
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
	color: #537564;
	font-weight: bold;
}

.all_worker {
	font-size: 15px;
	color: black;
	padding: 10px;
}

.workers_story {
	background-color: #FFF;
	margin-inline: 10px;
}

.workers_story img {
	width: 100%;
	height: 200px;
}

.form2 {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.form1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.half {
	width: 100%;
	height: auto;
	padding: 0 20px;
	display: flex;
}

.half1 {
	max-width: 50%;
	width: 100%;
	text-align: center;
}

.half2 {
	max-width: 50%;
	width: 100%;
}

#html {
	padding: unset;
	width: unset;
	text-align: unset;
	margin: 0;
}

#css {
	padding: unset;
	width: unset;
	text-align: unset;
	margin: 0;
}

.flex {
	display: flex;
	justify-content: center;
}

label {
	color: #FFF;
	margin-top: 15px;
	margin-bottom: 5px;
}

.map {
	height: 475px !important;
}

.submit {
	width: 75%;
	margin: 0 auto;
	outline: none;
	padding: 20px;
}

input {
	padding: 7px;
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	outline: none;
}

.sendbutton {
	background-color: forestgreen;
	border-radius: 5px;
	margin-top: 10px;
}

.map {
	width: 100%;
	height: 300px;
}

.footerparagraf {
	float: left;
	font-size: 25px;
}




/* ////////////////////////////////////////////////*/

$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$grey: #f3f3f3;
$white: #fff;
$base-color:$blue ;


/* Mixin's */  
@mixin transition {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  }
  
  @mixin corners ($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; 
	-khtml-border-radius: $radius; 
  }
  
  /* body {
	background:$base-color;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	height:100%;
	color: $white;
	text-align: center;
  }
   */
  
  . {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2.6em;
	text-transform: uppercase;
  }
  
  h2 , h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.4em;
	text-transform: uppercase;
  }
  
  #seconds, #tens{
	font-size:2em;
  }
   
	/* button{
	@include corners (5px);
	background:$base-color;
	color:$white;
	border: solid 1px $white;
	text-decoration:none;
	cursor:pointer;
	font-size:1.2em;
	padding:18px 10px;
	width:180px;
	margin: 10px;
	outline: none;  */


	  /* &:hover {
		  @include transition;
		  background:$white;
		  border: solid 1px $white;
		  color:$base-color;
		} */
	  
  }
  
  
  #kontinjeri {
	width: 630px;
	margin: 10px auto;
  
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
  }
  
  [data-view="card"] {
	transform: rotateY(180deg);
	width: 100px;
	height: 140px;
	border: solid 1px #d3cece;
	border-radius: 5px;
	float: left;
	margin: 10px;
	cursor: pointer;
	background:
	linear-gradient(135deg, $grey 22px, $white 22px, $white 24px, transparent 24px, transparent 67px, $white 67px, $white 69px, transparent 69px),
	linear-gradient(225deg, $grey 22px, $white 22px, $white 24px, transparent 24px, transparent 67px, $white 67px, $white 69px, transparent 69px)0 64px;
	background-color: $grey;
	background-size: 64px 128px
  }
  
  .flipped {
	transition: 0.6s;
	  transform-style: preserve-3d;
	position: relative;
	  transform: rotateY(0deg);
  }
  
  .reverse {
	transition: 0.6s;
	  transform-style: preserve-3d;
	position: relative;
	  transform: rotateY(180deg);
  }
  
  .correct {
	opacity: .5;
	cursor: default;
	  transform-style: preserve-3d;
	position: relative;
	  transform: rotateY(0deg);
  }
  
  /* Icons */
  $cards: sass, gulp, grunt, git, css;
		 
  @each $card in $cards  {
  
	.correct[data-item="#{$card}"],
	.flipped[data-item="#{$card}"]{
	  background:url("https://cathydutton.co.uk/images/tech/#{$card}.jpg") left center no-repeat $white;
	  background-size: contain;
	}
  
  }
  
